.Container {
    padding: 20px;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    border-bottom: 1px solid #333;
}
.Container:hover {
    background-color: #222;
    cursor: pointer;
}

.PermContainer, .PermContainer:hover {
    background-color: #444;
    cursor: context-menu;
}
.Container > * {
    margin: 10px;
}
.Date {
    font-weight: 700;
    color: #aaa;
    flex: 1;
}
.Text {
    flex: 5;
}



/* IMAGE LOG */
.GalleryImgContainer {
    border: 1px solid #444;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    margin: 0 0 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #000;
    height: 105px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.GalleryImgContainer:hover {
    border: 1px solid green;
}
.GalleryImg {
    max-width: 100%;
    max-height: 100%;
    border: 10px solid transparent;
}