.Container {
    display: flex;
    justify-content: space-between;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 1.2rem;
}

.Item {
    margin: 5px 10px;
    background-color: #8e8e8e;
    padding: 1px 10px;
    color: #ddd;
    border: 2px solid #333;
    font-size: 1rem;
}
.Item:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.Active {
    background-color: #222;
}

.Username {
    background: transparent;
    color: #eee;
    border: 0px;
    margin-right: 1rem;
}
.LogoutBtn {
    background-color: transparent;
    color: green;
    border: 0px;
}
.LogoutBtn:hover {
    cursor: pointer;
}
.LogoutBtn:focus {
    outline: none;
}



.About {
    display: flex;
    align-items: center;
}

.Logo {
    background-image: url(/src/Images/logo.png);
    width: 5rem;
    height: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1rem;
}
.Heading {    
    font-family: michroma,sans-serif;
    font-size: 2.1em;
    color: #fff;
    line-height: 1;
    flex: none;
    margin-bottom: 6px;
}