{% extends 'base.html' %}

{% block head %}
    <title>Flask-Firestore-CRUD</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.html')}}">
{% endblock %}

{% block body %}
    <h3>Create</h3>
    <form action="/message-add" method="POST">
        <label>Network : </label>
        <input type="text" name="network" id="network">
        <br>
        <br>
        <label>User : </label>
        <input type="text" name="user" id="user">
        <br>
        <br>
        <label>Log Type / Message : </label>
        <input type="text" name="logtype" id="logtype" style="margin-right: 0px; padding-right: 0px;">
        <input type="text" name="message" id="message" style="margin-left: 0px; padding-left: 0px;">
        <br>
        <br>
        <input type="submit" value="Create">
    </form>
    {% if res == 1 %}
        <label>{{dur}}</label>
    {% endif %}
{% endblock %}