*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    padding: 1rem;
    overflow: hidden;
    font-family: 'Inconsolata', monospace;
}

.container_main {
    height: 87vh;
}




::-webkit-scrollbar {
    display: none;
}
/* ::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(0, 58, 0);
} */